.frame-child {
  position: absolute;
  top: 16px;
  left: 102.5px;
  width: 95px;
  height: 95px;
  object-fit: cover;
}

.jeanne-antonin-interaction-container {
  position: absolute;
  top: 131px;
  left: 79px;
  text-transform: capitalize;
}

.group-child,
.rectangle-wrapper {
  position: absolute;
  width: 255px;
  height: 271px;
}

.group-child {
  top: 0;
  left: 0;
  border-radius: 28.01px;
  object-fit: cover;
}

.rectangle-wrapper {
  top: 184px;
  left: 23px;
}

.pm {
  position: absolute;
  width: 15.67%;
  top: 20px;
  left: 0.67%;
  text-transform: capitalize;
  font-weight: 300;
}

.group-item {
  position: absolute;
  top: -0.5px;
  right: -0.5px;
  width: 88.12px;
  height: 21px;
}

.my-french-bulldog {
  position: absolute;
  width: 65.92%;
  top: 1.06px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.group-wrapper,
.pm-parent {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
}

.group-wrapper {
  width: 87.67%;
  top: 475px;
  right: 6.33%;
  left: 6%;
  text-align: left;
  font-size: 12px;
}

.parent-container {
  height: 100vh;
}

.ellipse-parent {
  position: relative;
  border-radius: 20px;
  background-color: rgba(255, 255, 255);
  box-shadow: -8px -8px 16px rgba(190, 180, 250, 0.81),
    8px 8px 16px rgba(190, 180, 250, 0.81);
  width: 300px;
  height: 540px;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: Barlow;
  margin: 40px auto 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: normal;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
